Firma/src/main/resources/bankShema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://spring.io/guides/gs-producing-web-service"
           targetNamespace="http://spring.io/guides/gs-producing-web-service" elementFormDefault="qualified">

   


    <xs:simpleType name="accountNumber"> 
     <xs:restriction base="xs:string">
         <xs:pattern value="\d{18}" />
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="obracunskiRacunType">
     <xs:restriction base="xs:string">
         <xs:pattern value="\d{18}" />
      </xs:restriction>
    </xs:simpleType>
 
    <xs:simpleType name="decimal_15_2">
      <xs:restriction base="xs:decimal">
         <xs:pattern value="\d{1,15}\.\d{0,2}" />
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="decimal_2">
      <xs:restriction base="xs:decimal">
         <xs:pattern value="\d{1,2}" />
      </xs:restriction>
    </xs:simpleType>

     <xs:simpleType name="int_6">
      <xs:restriction base="xs:int">
         <xs:pattern value="\d{1,6}" />
      </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="string_0_255">
      <xs:restriction base="xs:string">
         <xs:maxLength value="255" />
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="string_3_50">
      <xs:restriction base="xs:string">
         <xs:maxLength value="255" />
      </xs:restriction>
    </xs:simpleType>

 	<xs:simpleType name="string_3_20">
      <xs:restriction base="xs:string">
         <xs:length value="255" />
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="string_18">
      <xs:restriction base="xs:string">
         <xs:length value="255" />
      </xs:restriction>
    </xs:simpleType>

   	<xs:simpleType name="string_1_3">
      <xs:restriction base="xs:string">
         <xs:length value="255" />
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="string_1">
      <xs:restriction base="xs:string">
         <xs:length value="1" />
      </xs:restriction>
    </xs:simpleType>

	<xs:simpleType name="swiftType">
      <xs:restriction base="xs:string">
         <xs:length value="8" />
      </xs:restriction>
    </xs:simpleType>

       
    <xs:element name="nalogZaPlacanje">
        <xs:complexType>
            <xs:sequence>
            	<xs:element type="tns:string_3_50" name="id"/>
            	<xs:element type="tns:string_0_255" name="duznikNalogodavac"/>
        		<xs:element type="tns:string_0_255" name="svrhaPlacanja"/>	
        		<xs:element type="tns:string_0_255" name="primalacPoverilac"/>
        		<xs:element type="xs:date" name="datumNaloga"/>
        		<xs:element type="xs:date" name="datumValute"/>
        		<xs:element type="tns:accountNumber" name="racunDuznika"/>
        		<xs:element type="tns:decimal_2" name="modelZaduzenja"/>
        		<xs:element type="tns:string_3_20" name="pozivNaBrojZaduzenja"/>
       		 	<xs:element type="tns:accountNumber" name="racunPoverioca"/>
        		<xs:element type="tns:decimal_2" name="modelOdobrenja"/>
        		<xs:element type="tns:string_3_20" name="pozivNaBrojOdobrenja"/>
                <xs:element type="tns:decimal_15_2" name="iznos"/>
        		<xs:element type="tns:string_1_3" name="oznakaValute"/>
        		<xs:element type="xs:boolean" name="hitno"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="importNalogZaPlacanjeResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element type="xs:string" name="CreatedBankOrderId"/>                            
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <xs:element name="izvodRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="tns:accountNumber" name="brojRacuna"/>
        		<xs:element type="xs:date" name="datum"/>
                <xs:element type="tns:decimal_2" name="redniBrojPreseka"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


   <xs:element name="izvodResponse">
        <xs:complexType>
            <xs:sequence>
                  <xs:element type="tns:zaglavljePreseka" name="zaglavljeOdPreseka"/>
                  <xs:element type="tns:stavkaPreseka" name="stavkePreseka" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


     <xs:complexType name="zaglavljePreseka">
        <xs:sequence>
            <xs:element type="tns:accountNumber" name="brojRacuna"/>
    		<xs:element type="xs:date" name="datumNaloga"/>
            <xs:element type="tns:decimal_2" name="brojPreseka"/>
            <xs:element type="tns:decimal_15_2" name="prethodnoStanje"/>
            <xs:element type="tns:int_6" name="brojPromenaUKorist"/>
            <xs:element type="tns:decimal_15_2" name="ukupnoUKorist"/>
            <xs:element type="tns:int_6" name="brojPromenaNaTeret"/>
            <xs:element type="tns:decimal_15_2" name="ukupnoNaTeret"/>
            <xs:element type="tns:decimal_15_2" name="novoStanje"/>
        </xs:sequence>
    </xs:complexType>

     <xs:complexType name="stavkaPreseka">
        <xs:sequence>
            <xs:element type="tns:string_3_50" name="id"/>
            	<xs:element type="tns:string_0_255" name="duznikNalogodavac"/>
        		<xs:element type="tns:string_0_255" name="svrhaPlacanja"/>	
        		<xs:element type="tns:string_0_255" name="primalacPoverilac"/>
        		<xs:element type="xs:date" name="datumNaloga"/>
        		<xs:element type="xs:date" name="datumValute"/>
        		<xs:element type="tns:accountNumber" name="racunDuznika"/>
        		<xs:element type="tns:decimal_2" name="modelZaduzenja"/>
        		<xs:element type="tns:string_3_20" name="pozivNaBrojZaduzenja"/>
       		 	<xs:element type="tns:accountNumber" name="racunPoverioca"/>
        		<xs:element type="tns:decimal_2" name="modelOdobrenja"/>
        		<xs:element type="tns:string_3_20" name="pozivNaBrojOdobrenja"/>
                <xs:element type="tns:decimal_15_2" name="iznos"/>
                <xs:element type="tns:string_1" name="smer"/>             
        </xs:sequence>
    </xs:complexType>


     <xs:element name="getMOneZeroThreeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element> 

    <xs:element name="getMOneZeroThreeRequest">
        <xs:complexType>
            <xs:sequence> 
            	<xs:element type="tns:string_3_50" name="id"/>
            	<xs:element type="tns:swiftType" name="swiftBankeDuznika"/>
           	    <xs:element type="tns:obracunskiRacunType" name="obracunskiRacunBankeDuznika"/>
                <xs:element type="tns:swiftType" name="swiftBankePoverioca"/>
                <xs:element type="tns:obracunskiRacunType" name="obracunskiRacunBankePoverioca"/>
                
                <xs:element type="tns:string_0_255" name="duznikNalogodavac"/>
        		<xs:element type="tns:string_0_255" name="svrhaPlacanja"/>	
        		<xs:element type="tns:string_0_255" name="primalacPoverilac"/>
        		<xs:element type="xs:date" name="datumNaloga"/>
        		<xs:element type="xs:date" name="datumValute"/>
        		<xs:element type="tns:accountNumber" name="racunDuznika"/>
        		<xs:element type="tns:decimal_2" name="modelZaduzenja"/>
        		<xs:element type="tns:string_3_20" name="pozivNaBrojZaduzenja"/>
       		 	<xs:element type="tns:accountNumber" name="racunPoverioca"/>
        		<xs:element type="tns:decimal_2" name="modelOdobrenja"/>
        		<xs:element type="tns:string_3_20" name="pozivNaBrojOdobrenja"/>
                <xs:element type="tns:decimal_15_2" name="iznos"/>
                <xs:element type="tns:string_1_3" name="sifraValute"/>           
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    

    <xs:element name="getM102Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
      
    <xs:element name="getM102Request">   
        <xs:complexType>
            <xs:sequence>
            	<xs:element type="tns:string_3_50" name="id"/>
            	<xs:element type="tns:swiftType" name="swiftBankeDuznika"/>
           	    <xs:element type="tns:obracunskiRacunType" name="obracunskiRacunBankeDuznika"/>
                <xs:element type="tns:swiftType" name="swiftBankePoverioca"/>
                <xs:element type="tns:obracunskiRacunType" name="obracunskiRacunBankePoverioca"/>

                <xs:element type="tns:decimal_15_2" name="ukupanIznos"/>
                <xs:element type="tns:string_1_3" name="sifraValute"/>
                <xs:element type="xs:date" name="datum"/>
                <xs:element type="xs:date" name="datumValute"/>
			    <xs:element type="tns:m102StavkaType"  name="getM102Stavka" minOccurs="1" maxOccurs="unbounded" />		       	
			        
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="m102StavkaType">
        <xs:sequence>
        	<xs:element type="tns:string_3_50" name="idNalogaZaPlacanje"/>
        	<xs:element type="tns:string_0_255" name="duznikNalogodavac"/>
    		<xs:element type="tns:string_0_255" name="svrhaPlacanja"/>	
    		<xs:element type="tns:string_0_255" name="primalacPoverilac"/>
    		<xs:element type="xs:date" name="datumNaloga"/>
    		<xs:element type="xs:date" name="datumValute"/>
    		<xs:element type="tns:accountNumber" name="racunDuznika"/>
    		<xs:element type="tns:decimal_2" name="modelZaduzenja"/>
    		<xs:element type="tns:string_3_20" name="pozivNaBrojZaduzenja"/>
   		 	<xs:element type="tns:accountNumber" name="racunPoverioca"/>
    		<xs:element type="tns:decimal_2" name="modelOdobrenja"/>
    		<xs:element type="tns:string_3_20" name="pozivNaBrojOdobrenja"/>
            <xs:element type="tns:decimal_15_2" name="iznos"/>
    		<xs:element type="tns:string_1_3" name="oznakaValute"/>  
        </xs:sequence>
    </xs:complexType>
    

	 <xs:element name="getMT9X0Response">
	        <xs:complexType>
	            <xs:sequence>
	                <xs:element name="id" type="xs:int"/>
	            </xs:sequence>
	        </xs:complexType>
	 </xs:element>
	 
 
  
   

 	<xs:element name="getMT900Request">  
	 	<xs:complexType>
	        <xs:sequence>
	            <xs:element name="id" type="tns:string_3_50"/>
	             <xs:element name="swifKod" type="tns:swiftType"/>
	             <xs:element name="obracunskiRacun" type="tns:obracunskiRacunType"/>
	             <xs:element name="idPorukeNaloga" type="tns:string_3_50"/>
	             <xs:element name="datumValute" type="xs:date"/>
	             <xs:element name="iznos" type="tns:decimal_15_2"/>
	             <xs:element name="sifraValute" type="tns:string_1_3"/>
	            
	        </xs:sequence> 
	    </xs:complexType>
 	</xs:element>

 	<xs:element name="getMT910Request">
	 	<xs:complexType>
	        <xs:sequence>
	            <xs:element name="id" type="tns:string_3_50"/>
	             <xs:element name="swifKod" type="tns:swiftType"/>
	             <xs:element name="obracunskiRacun" type="tns:obracunskiRacunType"/>
	             <xs:element name="idPorukeNaloga" type="tns:string_3_50"/>
	             <xs:element name="datumValute" type="xs:date"/>
	             <xs:element name="iznos" type="tns:decimal_15_2"/>
	             <xs:element name="sifraValute" type="tns:string_1_3"/>	            
	        </xs:sequence> 
    	</xs:complexType>
    </xs:element>
 



</xs:schema>